#root {
    align-content: center;
    justify-items: center;
    min-height: 100vh;
    min-width: 100vw;
}


body {
    margin: 0;
    background-color: rgb(151, 151, 151);
}

.content {
    border-radius: 20px;
    padding: 10px;
    min-width: 620px;
    min-height: 240px;
    text-align: center;
    color: rgb(202, 202, 202);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background-color: rgb(50, 50, 50);
}

.buttons {
    display: flex;
    flex-direction: column;
    min-height: 240px;
    justify-content: space-evenly;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 530;
    padding: 10px 20px;
}

.digital,.stopwatch,.timer{
    border-radius: 8px;
    font-size: 15px;
    padding: 10px 20px;
    background-color: #ffd900;
}

.digital-on,.stopwatch-on,.timer-on{
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: green;
}

.inner-content{
    gap:6px;
    font-weight: 530;
}

.inner-content,
.outer-content {
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    background-color: rgb(63, 63, 63);
    border: 2px solid rgb(63, 63, 63);
    padding: 10px;
    margin: 20px 5px 0px 5px;
    font-size: 30px;
    color: black;
}

.inp-hr,
.inp-min,
.inp-sec,
.inp-name {
    border-radius: 6px;
    border: 2px solid rgb(105, 105, 105);
    background-color: rgb(105, 105, 105);
    color: black;
    padding: 0.1em 0em;
    font-size: 30px;
    text-align: center;
    width: 80px;
}
.inp-name {
    background-color: rgb(74, 74, 74);
    border: none;
}

.inp-name::placeholder,
.inp-hr::placeholder,
.inp-min::placeholder,
.inp-sec::placeholder{
    color: rgb(57, 57, 57);
}

.title {
    font-style: italic;
}

.hr,
.min,
.sec,
.millisec {
    border-radius: 6px;
    border: 2px solid rgb(105, 105, 105);
    background-color: rgb(105, 105, 105);
    color: black;
    padding: 0.1em 0em;
    font-size: 30px;
    min-width: 80px;
}

.start,
.stop {
    background-color: red;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    min-width: 95px;
    border: none;
}

.lap,
.reset {
    border-radius: 8px;
    text-align: center;
    font-size: 15px;
    padding: 10px 10px;
    min-width: 80px;
    border: none;
}

.reset {
    background-color: rgba(205, 198, 198, 0.573);
}

.stop {
    background-color: rgb(160, 19, 19);
}

.start:hover,
.lap:hover,
.reset:hover {
    opacity: 0.6;
}

.stop:hover {
    box-shadow: 50px;
}

.lap-children p {
    display: inline;
}

.lap-content {
    justify-items: center;
    position: absolute;
    padding: 0px 20px;
    min-width: 330px;
}

.lap-children {
    list-style: none;
    border: solid 10px rgb(50, 50, 50);
    border-radius: 8px;
    padding: 0px 20px;
    background-color: rgb(63, 63, 63);
    margin: 0px;
    width: 250px;
}

.lap-children li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    gap: 100px;
}

.set-timer {
    padding: 20px;
}

.set-timer input {
    width: 40px;
    height: 25px;
}

.start:disabled{
    opacity: 0.5;
}